
extends layout
//- this logic should be moved to a view at some point

block content
  h2(style="display:block; text-align: center;")= "标签: " + tagName
  section.archive
    ul
      each article in articles
        li
          a(href=article.url)= article.title
            span.date= moment.utc(article.date).format('YYYY-MM-DD')
  br